on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - "sas"

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-24.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2.11.0
        with:
          r-version: 'release'
      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage
      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
