on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - "sas"

name: lint

jobs:
  lint:
    runs-on: ubuntu-22.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2.6.4
        with:
          r-version: 'release'
      - uses: r-lib/actions/setup-r-dependencies@v2.6.4
        with:
          extra-packages: any::lintr, local::.
          needs: lint
      - name: Lint
        run: lintr::lint_package()
        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: true
